  /* Style for the 'buttonContainer' class */
            .buttonContainer{
                width: 75%;
            }
        
            .buttonContainer > .buttonClass {
                    width: 30%;
                    height: 48px;
                    font-size: 24px;
            }